body {
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'DM Serif Display', serif;
}



.nav-sidebar {
    margin: 20px -20px 20px 20px;
    list-style-type: none;
}

.nav-sidebar li {
    padding: 20px 20px;
}